<%inherit file="/base.html"/>

<style>
    .comment {
        width: 250px;
        height: 80px;
    }
</style>

% if guest:
    <h2>${guest.name}</h2>
    <form action="/rsvp" method="POST">
        <p class="attending">
            % if guest.rsvpd is False and not editable:
                This guest has not RSVPd
            % elif guest.rsvpd is False:
                You have not RSVPd
            % elif guest.attending and not editable:
                &#10003; This guest IS attending
            % elif guest.attending and editable:
                &#10003; You ARE attending
            % elif not guest.attending and not editable:
                &#216; This guest IS NOT attending
            % elif not guest.attending and editable:
                &#216; You ARE NOT attending
            % endif
        </p>
        <input type="hidden" value="${guest.id}" name="gid"/>

        <p>
            Your party size is ${guest.party_size}<br>
            Number of guests attending is ${guest.guests_allowed}
        </p>

        % if editable:

            ## GUEST COUNT
            % if guest.guests_allowed:
                <label for="guests_coming">Guests Attending</label>
                <select name="guests_coming" id="guests_coming">
                    % for i in xrange(guest.guests_allowed+1):
                        <option value="${i}"
                            % if i == guest.guests_coming:
                                selected="selected"
                            % endif
                        >
                        ${i}
                        </option>
                    % endfor
                </select>
            % endif


            ## GUESTS REQUESTED
            % if guest.guests_requested:
                <p>You currently have a request for
                    ${guest.guests_requested} more guests
                </p>
            % else:
                <p>
                    <label for="guests_requested">
                        Additional Guests Requested?
                    </label>
                    <select name="guests_requested" id="guests_requested">
                        % for i in xrange(3):
                            <option value="${i}">${i}</option>
                        % endfor
                    </select>
                </p>
            % endif

            ## PARTY SIZE
            ## GUESTS ALLOWED
            % if h.is_admin():
                <p>
                    <label for="party_size">
                        Party Size
                    </label>
                    <select name="party_size" id="party_size">
                        % for i in xrange(8):
                            <option value="${i}"
                            % if i == guest.party_size:
                                selected="selected"
                            % endif
                            >${i}</option>
                        % endfor
                    </select>
                </p>
                <p>
                    <label for="guests_allowed">
                        Guests Allowed
                    </label>
                    <select name="guests_allowed" id="guests_allowed">
                        % for i in xrange( guest.guests_requested \
                                         + guest.guests_allowed \
                                         + 1):
                            <option value="${i}"
                            % if i == guest.guests_allowed:
                                selected="selected"
                            % endif
                            >${i}</option>
                        % endfor
                    </select>
                </p>
            % endif

            <textarea class="comment" name="comment">${guest.comment}</textarea>
            <br><br>
            % if h.is_admin():
                <input type="submit" value="${NO_RSVP_CHANGE}"
                       name="attending"/>
                <input type="submit" value="${UNRSVP}" name="attending"/>
                <br/>
                <br/>
            % endif
            <input type="submit" value="${COMING}" name="attending"/>
            <input type="submit" value="${NOT_COMING}" name="attending"/>
        % else:
            <p class="comment">${guest.comment}</p>
        % endif

        % if h.is_admin():
            <p>
                <a href="/guest/${guest.id}/${h.get_guest_token(guest)}">
                    Authenticated link for this guest
                </a>
            </p>
        % endif

    </form>

    % if h.is_admin():
        <form method="POST" action="/send_reminder">
            <input type="submit" name="action" value="Send Reminder"/>
            <input type="hidden" name="gid" value="${guest.id}"/>
            % if guest.email_sent:
                They have already been emailed
            % endif
        </form>
    % endif

% endif
