<%inherit file="/base.html"/>

<style>
    img {
        float:left;
        border: 4px solid black;
        padding: 20px;
        margin: 20px;
    }
</style>

<a href="http://everythingisabsurd.com/pink_panther/"><img src="http://everythingisabsurd.com/pink_panther/small_IMG_0153.jpg" title="photo by jennifer mitchell" /></a>

<br/>
<h1>We're getting married! (robby + lizz)</h1>
<p>Lizz and I are happy to let everyone know that we have decided to get married this summer while in England.</p>

<p>
    We're looking for <a href="/music">music suggestions</a>
    for the reception.
    Click the link and let us know what you'd like to hear!
</p>

<p>
We've registered!<br/>
&nbsp;@ <a href="http://rei.com">REI</a><br/>
&nbsp;@ <a href="http://target.com">Target</a><br/>
&nbsp;@ <a href="http://bedbathandbeyond.com">Bed Bath & Beyond</a><br/>
</p>

<a title="photo by T.O. Lawrence" href="http://cinephilesanon.com/"><img src="/img/P1010009-3.JPG"></a><br>
<a title="photo by T.O. Lawrence" href="http://cinephilesanon.com/"><img src="/img/P1010009-5.JPG"></a><br>

<br><br>
<div style="clear:both;"><a href="http://page2rss.com/rss/d718df6551991fe708bf01a9034abee0">RSS Feed</a></div>


