<%inherit file="/base.html"/>

<style>
    img {
        float:left;
        border: 4px solid black;
        padding: 20px;
        margin: 20px;
    }
</style>

<a href="http://everythingisabsurd.com/pink_panther/"><img src="http://everythingisabsurd.com/pink_panther/small_IMG_0153.jpg" title="photo by jennifer mitchell" /></a>

<br>
<h1>We're getting married! (robby + lizz)</h1>
<p>Lizz and I are happy to let everyone know that we have decided to get married this summer while in England.</p>

<p>Stay tuned for exciting news as it develops !</p>



<p><b>Feb-14</b>: Reception details have been finalized! We are going to be holding the reception in Melbourne Florida on July 30th!<p>
<p>Click <a href="/guest_list">HERE</a> to RSVP! There are going TONS of people, TONS of partying and TONS of fun =]</p>
<p>Click <a href="/reception_details">HERE</a> for more details about the reception</p>

<p><b>Feb-7</b>: We picked up the ring today!</p>
<a title="photo by T.O. Lawrence" href="http://cinephilesanon.com/"><img src="/img/P1010009-3.JPG"></a><br>
<a title="photo by T.O. Lawrence" href="http://cinephilesanon.com/"><img src="/img/P1010009-5.JPG"></a><br>

<br><br>
<div style="clear:both;"><a href="http://page2rss.com/rss/d718df6551991fe708bf01a9034abee0">RSS Feed</a></div>


