<%inherit file="/base.html"/>

<h2>We are looking for music suggestions for the reception, any and all suggestions are welcome!</h2>

<p>
    There is going to be plenty of music during the party in Florida.
    the more suggestions we get, the better the music will be!
</p>

## form to add suggestions
<form action="/music/add_suggestion" method="POST">
    <input type="text" name="suggestion" size="100"/>
    <input type="submit" value="Add My Suggestion"/>
</form>


## list of existing suggestions
<ul id="suggestions">
<%include file="music_list.txt"/>
</ul>
