<%inherit file="/base.html"/>

<a href="/">Back to Home Page</a>

<h2>Reception Details</h2>

<p> The Reception will be held in Melbourne Florida </p>

<p> It will start at 5PM July 30th (saturday) </p>

<p> There will be a Buffet as well as an open bar </p>

<p> There is no explicit dress code. The wedding party
    will be in their formals, but you just need to make
    sure and wear something you can dance in =]</p>

<p> <a href="http://www.melbourneconferencecenter.com/">
        Facility's website</a> </p>

<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1450+Sarno+Road+Melbourne,+FL+32935&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=53.432436,56.162109&amp;ie=UTF8&amp;hq=&amp;hnear=1450+Sarno+Rd,+Melbourne,+Brevard,+Florida+32935&amp;ll=28.122323,-80.644158&amp;spn=0.026494,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1450+Sarno+Road+Melbourne,+FL+32935&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=53.432436,56.162109&amp;ie=UTF8&amp;hq=&amp;hnear=1450+Sarno+Rd,+Melbourne,+Brevard,+Florida+32935&amp;ll=28.122323,-80.644158&amp;spn=0.026494,0.036478&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
