<%inherit file="/base.html"/>

<h2>Reception Details</h2>

<p>The Reception will be held in Melbourne Florida at the Melbourne Board of Realty reception facility at 1450 Sarno Rd., Melbourne, FL.</p>

<p>Happy Hour with hors-d'oeuvres will start at 5PM on Saturday, July 30th, with the Bride and Groom making their appearance around 5:30, so please be on time.</p>

<p>Dinner, dancing and celebrating will follow so come ready to Party.</p>

<p> The wedding party
    will be in their formals, make sure you wear something
    presentable but also loose enough to cut a rug in =]</p>

<p> <a target="blank" href="http://www.melbourneconferencecenter.com/">
        Facility's website</a> </p>

<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1450+Sarno+Road+Melbourne,+FL+32935&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=53.432436,56.162109&amp;ie=UTF8&amp;hq=&amp;hnear=1450+Sarno+Rd,+Melbourne,+Brevard,+Florida+32935&amp;ll=28.122323,-80.644158&amp;spn=0.026494,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1450+Sarno+Road+Melbourne,+FL+32935&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=53.432436,56.162109&amp;ie=UTF8&amp;hq=&amp;hnear=1450+Sarno+Rd,+Melbourne,+Brevard,+Florida+32935&amp;ll=28.122323,-80.644158&amp;spn=0.026494,0.036478&amp;z=14" style="color:#0000FF;text-align:left" target="blank">View Larger Map</a></small>
</p>

<p>
We have negotiated favorable rates with three different local hotels for you to choose from, one on the Beach, one in Melbourne and one in Palm Bay.  For all three you need to make your reservation directly with the sales department at the Hotel.
</p>


<h3>Option 1 - Beachside:</h3>

<b>Doubletree Suites (Hilton Property)</b>

<p>
1665 N. State Route A1A
Melbourne, Florida, USA, 32903
1-321-723-4222
</p>
 
<p>
All suites have a private oceanfront balcony, refrigerator, microwave, and coffee maker. Their choice of bedding includes a king with queen sleeper sofa or 2 double beds with a queen sleeper sofa. Group rate: $119 per night plus 11% tax
</p>
 
<p>
To Make a Reservation: Call Hotel directly at 321-723-4222 and ask for the "Mitchell-Ranshous" wedding rate.  The agreement rate is for the weekend of the reception but they will honor this rate outside that window if rooms are available.  Reservations must be made by 28 June.
</p>

<p>
The sales person we have been dealing with is:
</p>

<p>
Bari Stevenson | Director of Sales
<br>
Hilton Melbourne Beach Oceanfront | Doubletree Suites by Hilton Melbourne Beach Oceanfront
<br>
1665 N. State Route A1A | Indialantic, FL 32903
<br>
Ph: 321-216-3231 | Fax: 321-216-3249| bari.stevenson@hilton.com
<br>
www.melbournebeachoceanfrontsuites.doubletree.com | www.facebook.com/doubletreemelbournebeach
</p>
<p>
Call or email her if you have any problems - please copy me also.
</p>
<p>
This hotel is 6.3 miles from the reception site and 13.6 miles from Gary/Donna's House.
</p>
 
<h3>Option 2 - Melbourne:</h3>
<b>Residence Inn (Marriott Property)</b>

<p>
1430 S. Babcock St.
Melbourne, FL 32901
321-723-5740
</p>
 
<p>
The rate is $89 plus tax per night. That is for a studio room, which includes a king size bed, sofa bed pull-out and a full size kitchen. The rate also includes a hot breakfast buffet.
</p>
 
<p>
To Make a Reservation: Call Hotel directly at 321-723-5740 and ask for the "Mitchell-Ranshous" wedding rate.  The agreement rate is for the weekend of the reception but they will honor this rate outside that window if rooms are available. Reservations must be made by 14 July.
</p>
 
<p>
The sales person we have been dealing with is:
</p>

<p>
Meagan Gonser<br/>
Account Executive<br/>
Marriott International<br/>
PH: 321.724.6400<br/>
FAX: 321.984.4006<br/>
E-mail: meagan.gonser@marriott.com<br/>
www.melbourneresidenceinn.com<br/>
</p>
 

<p>
Call or email her if you have any problems - please copy me also.
</p> 
<p>
This hotel is 3.7 miles from the reception site and 9.4 miles from Gary/Donna's House.
</p>
 

<h3>Option 3 - Palm Bay:</h3>

<b>Holiday Inn Express</b>

<p>
1206 SE Malabar Road
Palm Bay, FL 32907
(321) 220-2003
</p>
 
<p>
The rate is $72 plus tax per night. That is for a regular room which includes a king size bed or 2 queen beds. They also have suites available at a higher rate. The rate also includes a hot breakfast bar, a deluxe Fitness Center, a heated pool and Jacuzzi.
</p>
 
<p>
The rate was negotiated with the Front Desk Manager, Puneet Kupar (he goes by PK).  His email is palmbayhiexpress@live.com.  The hotel web site is www.hiexpress.com/palmbayfl.     
</p>
 
<p>
To Make a Reservation: Call Hotel directly at 321-220-2003 and ask for PK.  The rate is for the weekend of the reception but they will honor this rate outside that window if rooms are available. No cut-off date has been specified and they should take reservations as long as they have rooms available.
</p>
                               
<p>
Call or email him if you have any problems - please copy me also.
</p>
 
<p>
This hotel is 9.6 miles from the reception site and 4.7 miles from Gary/Donna's House.
</p>
