<%inherit file="/base.html"/>

<style>
    .guest_list {
        list-style-type: none;
    }
    .guest {
        margin: 2px 0;
    }
    .guest .name {
    }
    .guest .attending {
        padding-left: 10px;
    }
    .side {
        float: right;
        width: 200px;
        font-size: .9em;
        text-align: right;
    }
    .guest.current {
        font-weight: bold;
    }
</style>

<a href="/${token}">Back to Home Page</a>

<div class="side">
    <p>To update your RSVP status find your name in the list and click it. It will allow you to update your status as well as add any comments you may have.</p>
    <p>You can come back at any time to update your RSVP status as well as your comment.</p>
    <p>If you can't find your name on the list, please email <a href="mailto:rranshous@gmail.com">rranshous@gmail.com</a>.</p>
</div>

<h2>RSVP List for FLorida reception on July 30th</h2>


<ul class="guest_list">
% for guest in guests:
    <li class="guest ${'current' if h.is_guest(guest) else ''}">
        % if not guest.rsvpd:
            <span style="visibility: hidden;">&#216;</span>
        % elif guest.attending:
            &#10003;
        % else:
            &#216;
        % endif
        &nbsp;
        <a href="/guest/${guest.id}/"/>
            <span class="name">${guest.name or 'UNKNOWN'}</span></a>
        <span class="attending">
        </span>
    </li>
% endfor
</ul>
